name: python-deployment

run-name: ${{ github.actor }} - ${{ github.ref_name }}

concurrency:
  group: ${{ github.actor }}-python-deployment
  cancel-in-progress: true

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  PythonVersion: 3.8
  DockerUsername: ikulyk404
  DockerImageName: todoapp
  EnvironmentName: Development

jobs:
  python-ci:
    runs-on: ubuntu-latest
    name: Python CI
    defaults:
      run:
        working-directory: ./src

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ env.PythonVersion }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PythonVersion }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-cov
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          cd ../
          flake8 . --show-source --statistics --exit-zero

      - name: Check Complexity
        run: |
          cd ../
          flake8 . --exit-zero --max-complexity=10 --statistics

      - name: Test with pytest
        run: |
          python manage.py test

      - name: Upload python artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-artifacts
          path: .

      - name: Upload helm artifacts
        if: ${{ github.base_ref == 'main' }}
        uses: actions/upload-artifact@v4
        with:
          name: helm-artifacts
          path: ${{ github.workspace }}/helm-charts

  build-image:
    name: Build and push Docker image
    needs: python-ci
    runs-on: ubuntu-latest
    if: ${{ github.base_ref == 'main' }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: python-artifacts
          path: .

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./src
          push: true
          tags: ${{ env.DockerUsername }}/${{ env.DockerImageName }}:${{ github.sha }}

  helm-ci:
    name: Helm CI
    needs: python-ci
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: helm-artifacts
          path: .

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0

      - name: Lint Helm
        run: helm lint ./todoapp/

      - name: Template Helm
        run: helm template todoapp ./todoapp -f ./todoapp/values.

      - name: Package Helm
        run: helm package ./todoapp --app-version ${{ github.sha }}

      - name: Upload Helm package
        uses: actions/upload-artifact@v4
        with:
          name: helm-package
          path: ./*.tgz

  deploy-helm-dev:
    name: Deploy Helm
    uses: ./.github/workflows/deployment-workflow.yml
    needs: [ helm-ci, build-image ]
    secrets: inherit
    with:
      environment: development
      version: ${{ github.sha }}

  deploy-helm-staging:
    name: Deploy Helm
    uses: ./.github/workflows/deployment-workflow.yml
    needs: deploy-helm-dev
    secrets: inherit
    with:
      environment: staging
      helm-values-path: ./todoapp/values/stg.yaml
      helm-release-name: todoapp-staging
      version: ${{ github.sha }}
